.cabeçalho {
    h1 {
        padding-top: 30px;
        margin-bottom: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        color: #333333;
    }
    height: 111px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    img {
        position: absolute;
        top: 20px;
        left: 30px;
        width: 248px;
        height: 62px;
    }
}

.buttons-div {
    margin-top: 60px;
    margin-bottom: 20px;
}

.card-arq {
    width: 100%;
    margin: 30px;
    margin-top: 20px;
}
button {
    margin-right: 20px;
    width: 100%;
    height: 54px;
}

.buttons-list{
    margin-top: 138px;
    padding-left: 20px;
    padding-right: 20px;
}

.histograma-card{
    height: 452px;
}
.card-grafico{
    margin: 20px 30px;
    margin-left: 45px ;
    width: 100%;
}